In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_ccba = pd.read_csv("./訓練資料集_first/public_train_x_ccba_full_hashed.csv")
df_cdtx = pd.read_csv("./訓練資料集_first/public_train_x_cdtx0001_full_hashed.csv")
df_custinfo = pd.read_csv("./訓練資料集_first/public_train_x_custinfo_full_hashed.csv")
df_dp = pd.read_csv("./訓練資料集_first/public_train_x_dp_full_hashed.csv")
df_remit1 = pd.read_csv("./訓練資料集_first/public_train_x_remit1_full_hashed.csv")
df_alert_date = pd.read_csv("./訓練資料集_first/train_x_alert_date.csv")
df_public_alert_date = pd.read_csv("./訓練資料集_first/public_x_alert_date.csv")

In [4]:
df_answer = pd.read_csv("./訓練資料集_first/train_y_answer.csv")
df_answer.head()

   alert_key  sar_flag
0     171189         0
1     171202         0
2     171599         0
3     171737         0
4     171142         0

# 1. Merge alert key data into cust info data

## key map  : 
(alert_date)**alert key** -> (custinfo) **alert key** (many to one)

In [24]:
data = df_alert_date.merge(df_custinfo, how= 'left', on = 'alert_key')
data

,alert_key,date,cust_id,risk_rank,occupation_code,total_asset,AGE
0,171189,0,972ee157e63316e8a50dd489bc93730a3ee8a8959d5c6b...,1,17.0,375576.0,4
1,171202,0,a10ab33f90926fb18d7bb5e78034d7f04a1fbed95b7951...,3,12.0,2717416.0,2
2,171599,0,3433ecc068ed1c9e2f5037cab5d42d7b901e9bd624c1fb...,1,12.0,326517.0,4
3,171737,0,a0861608615a9365d90f4ba0a813c0ea0471987f925c8b...,3,14.0,1014759.0,4
4,171142,0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3
...,...,...,...,...,...,...,...
23901,352132,364,c49b33d1fde790ec03584672903f296e486615adfdc989...,1,19.0,3218731.0,3
23902,352125,364,0c2dc5fedc3689abf5ff4be14fe8fea8d23d22068297c2...,3,19.0,928963.0,3
23903,352080,364,1a93961c8fa830a1f32f5316b44f4964d65397f0311b11...,2,9.0,69080.0,6
23904,352075,364,9586b80d3ad1d74c0a1efe792cae2ecd073243fb01ed33...,3,3.0,262604.0,6
23905,351927,364,7dc5256ef411c745dc3064da2f231c104ca270f564d3d0...,1,9.0,332834.0,2

## cumulative alert times

In [12]:
alert_times_dict = {}
alert_times_list = []
for i, row in data.iterrows():
    if alert_times_dict.__contains__(row.cust_id):
        alert_times_list.append(alert_times_dict[row.cust_id])
        alert_times_dict[row.cust_id] += 1
    else :
        alert_times_list.append(0)
        alert_times_dict[row.cust_id] = 1
data['alert_times'] = alert_times_list
data

,alert_key,date,cust_id,risk_rank,occupation_code,total_asset,AGE,alert_times
0,171189,0,972ee157e63316e8a50dd489bc93730a3ee8a8959d5c6b...,1,17.0,375576.0,4,0
1,171202,0,a10ab33f90926fb18d7bb5e78034d7f04a1fbed95b7951...,3,12.0,2717416.0,2,0
2,171599,0,3433ecc068ed1c9e2f5037cab5d42d7b901e9bd624c1fb...,1,12.0,326517.0,4,0
3,171737,0,a0861608615a9365d90f4ba0a813c0ea0471987f925c8b...,3,14.0,1014759.0,4,0
4,171142,0,a39fea9aec90969fe66a2b2b4d1b86368a2d38e8b8d4bf...,3,12.0,241719.0,3,0
...,...,...,...,...,...,...,...,...
23901,352132,364,c49b33d1fde790ec03584672903f296e486615adfdc989...,1,19.0,3218731.0,3,2
23902,352125,364,0c2dc5fedc3689abf5ff4be14fe8fea8d23d22068297c2...,3,19.0,928963.0,3,1
23903,352080,364,1a93961c8fa830a1f32f5316b44f4964d65397f0311b11...,2,9.0,69080.0,6,6
23904,352075,364,9586b80d3ad1d74c0a1efe792cae2ecd073243fb01ed33...,3,3.0,262604.0,6,4
23905,351927,364,7dc5256ef411c745dc3064da2f231c104ca270f564d3d0...,1,9.0,332834.0,2,3

# 2. Merge ccba (credit card balance)

## key map  : 
1. (custinfo) **cust id** -> (ccba) **cust id** (one to many)
2. (alert_date) **date** -> (ccba) **byymm** (some of scale)

In [13]:
data = data.merge(df_ccba, how = 'outer', left_on=['cust_id', 'date'], right_on=['cust_id', 'byymm'])
data['date'] = data[['date', 'byymm']].apply(lambda x : x[0] if pd.notna(x[0]) else x[1], axis = 1)
data.drop('byymm', axis = 1,inplace=True)
data = data.sort_values(['cust_id','alert_key']).reset_index(drop= True) # make cust info in the first of cust id to fill cust info
data

,alert_key,date,cust_id,risk_rank,occupation_code,total_asset,AGE,alert_times,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
0,195913.0,53.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,NaN,NaN,NaN,NaN,NaN,3920.0,134614.0,32316.0,0.0,0.0,3148.0,16576.0,0.0
2,NaN,30.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,NaN,NaN,NaN,NaN,NaN,16576.0,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
3,NaN,61.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,NaN,NaN,NaN,NaN,NaN,8653.0,134614.0,14771.0,0.0,0.0,3148.0,5045.0,0.0
4,NaN,91.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,NaN,NaN,NaN,NaN,NaN,5045.0,134614.0,10954.0,0.0,0.0,3148.0,4334.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82534,NaN,334.0,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,NaN,NaN,NaN,NaN,NaN,19766.0,781570.0,26360.0,0.0,0.0,1142.0,2568.0,0.0
82535,NaN,365.0,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,NaN,NaN,NaN,NaN,NaN,2591.0,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0
82536,350878.0,363.0,fff322436b556032e07690f12456d9eff3588c269d6210...,2.0,19.0,591218.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82537,351619.0,364.0,fff322436b556032e07690f12456d9eff3588c269d6210...,2.0,19.0,624147.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82538,216386.0,102.0,fff94defcc33daab190e702926d583f6d805294354addb...,1.0,9.0,190218.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# fill value and resorted by date
# alert times need to fill by sorted data by date
data.loc[:, data.columns!='alert_times'] = data.loc[:, data.columns!='alert_times'].fillna(method='ffill')
data.loc[:, data.columns!='alert_times'] = data.loc[:, data.columns!='alert_times'].fillna(method='bfill')
data = data.sort_values(['cust_id', 'date'])
data.fillna(method='ffill', inplace=True)
data.fillna(0, inplace=True)
data

,alert_key,date,cust_id,risk_rank,occupation_code,total_asset,AGE,alert_times,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
1,195913.0,0.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,3920.0,134614.0,32316.0,0.0,0.0,3148.0,16576.0,0.0
2,195913.0,30.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,16576.0,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
0,195913.0,53.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,16576.0,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
3,195913.0,61.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,8653.0,134614.0,14771.0,0.0,0.0,3148.0,5045.0,0.0
4,195913.0,91.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,5045.0,134614.0,10954.0,0.0,0.0,3148.0,4334.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82534,303894.0,334.0,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,1.0,14.0,458455.0,5.0,0.0,19766.0,781570.0,26360.0,0.0,0.0,1142.0,2568.0,0.0
82535,303894.0,365.0,ffeb846f2294ec4397f800736dc1e14eb754da5425398d...,1.0,14.0,458455.0,5.0,0.0,2591.0,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0
82536,350878.0,363.0,fff322436b556032e07690f12456d9eff3588c269d6210...,2.0,19.0,591218.0,3.0,0.0,2591.0,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0
82537,351619.0,364.0,fff322436b556032e07690f12456d9eff3588c269d6210...,2.0,19.0,624147.0,3.0,1.0,2591.0,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0
82538,216386.0,102.0,fff94defcc33daab190e702926d583f6d805294354addb...,1.0,9.0,190218.0,2.0,0.0,2591.0,781570.0,23903.0,0.0,0.0,5199.0,5199.0,0.0

In [22]:
data.head(50)

,alert_key,date,cust_id,risk_rank,occupation_code,total_asset,AGE,alert_times,lupay,cycam,usgam,clamt,csamt,inamt,cucsm,cucah
1,195913.0,0.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,3920.0,134614.0,32316.0,0.0,0.0,3148.0,16576.0,0.0
2,195913.0,30.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,16576.0,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
0,195913.0,53.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,16576.0,134614.0,22280.0,0.0,0.0,3148.0,8653.0,0.0
3,195913.0,61.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,8653.0,134614.0,14771.0,0.0,0.0,3148.0,5045.0,0.0
4,195913.0,91.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,5045.0,134614.0,10954.0,0.0,0.0,3148.0,4334.0,0.0
5,195913.0,122.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,4334.0,134614.0,7544.0,0.0,0.0,3148.0,4396.0,0.0
6,195913.0,153.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,4396.0,134614.0,4406.0,0.0,0.0,3148.0,4183.0,0.0
7,195913.0,183.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,4183.0,134614.0,46847.0,0.0,0.0,3157.0,10341.0,0.0
8,195913.0,214.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,7077.0,134614.0,40231.0,0.0,0.0,3148.0,9911.0,0.0
9,195913.0,244.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,7480.0,134614.0,34726.0,0.0,0.0,3148.0,5671.0,0.0
10,195913.0,275.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,5671.0,134614.0,28885.0,0.0,0.0,3148.0,3495.0,0.0
11,195913.0,306.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,3183.0,134614.0,28496.0,0.0,0.0,3148.0,6149.0,0.0
12,195913.0,334.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,6460.0,134614.0,23785.0,0.0,0.0,3148.0,4898.0,0.0
13,195913.0,365.0,0015cc01f553512007705edf855baa16f1b57a16fb107e...,1.0,17.0,32758.0,3.0,0.0,4898.0,134614.0,19552.0,0.0,0.0,3148.0,3813.0,0.0
14,177078.0,11.0,002630daf48bb6a37c7fb0c83f201f8d5bb9862283e40d...,1.0,20.0,0.0,4.0,0.0,4898.0,134614.0,19552.0,0.0,0.0,3148.0,3813.0,0.0
18,177078.0,0.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,65363.0,304961.0,38297.0,0.0,0.0,21382.0,16744.0,0.0
19,177078.0,30.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,23380.0,304961.0,49652.0,0.0,0.0,14598.0,18675.0,0.0
20,177078.0,61.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,6099.0,304961.0,141045.0,0.0,0.0,45128.0,51205.0,0.0
21,177078.0,91.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,152480.0,304961.0,50999.0,0.0,0.0,58433.0,74005.0,0.0
22,177078.0,122.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,203307.0,304961.0,164075.0,0.0,0.0,55043.0,333106.0,0.0
23,177078.0,153.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,1322920.0,304961.0,-83795.0,0.0,0.0,31292.0,1103492.0,0.0
24,177078.0,183.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,1919525.0,406614.0,-21303.0,0.0,0.0,19061.0,1888799.0,0.0
25,177078.0,214.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,1.0,20.0,0.0,4.0,0.0,0.0,304961.0,213965.0,0.0,0.0,12284.0,230321.0,0.0
15,269235.0,217.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,0.0,0.0,304961.0,213965.0,0.0,0.0,12284.0,230321.0,0.0
16,270967.0,218.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,1.0,0.0,304961.0,213965.0,0.0,0.0,12284.0,230321.0,0.0
17,271556.0,221.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,0.0,304961.0,213965.0,0.0,0.0,12284.0,230321.0,0.0
26,271556.0,244.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,481330.0,304961.0,-59769.0,0.0,0.0,5507.0,499239.0,0.0
27,271556.0,275.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,180943.0,304961.0,-19087.0,0.0,0.0,2117.0,57414.0,0.0
28,271556.0,306.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,179419.0,304961.0,95753.0,0.0,0.0,2117.0,296376.0,0.0
29,271556.0,334.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,94538.0,304961.0,75450.0,0.0,0.0,26515.0,27557.0,0.0
30,271556.0,365.0,002d6bc6382e759c9a5b6bb2c8dda9add2f38cd87e10ca...,3.0,4.0,629787.0,3.0,2.0,95263.0,304961.0,256365.0,0.0,0.0,24398.0,300375.0,0.0
35,271556.0,0.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,4.0,629787.0,3.0,2.0,38180.0,314421.0,55537.0,0.0,0.0,0.0,18961.0,0.0
36,271556.0,30.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,4.0,629787.0,3.0,2.0,18961.0,314421.0,54567.0,0.0,0.0,5177.0,18974.0,0.0
37,271556.0,61.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,4.0,629787.0,3.0,2.0,18974.0,314421.0,75132.0,0.0,0.0,5165.0,54472.0,0.0
38,271556.0,91.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,4.0,629787.0,3.0,2.0,54472.0,314421.0,45969.0,0.0,0.0,5165.0,30475.0,0.0
39,271556.0,122.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,4.0,629787.0,3.0,2.0,30475.0,314421.0,52310.0,0.0,0.0,5165.0,40901.0,0.0
31,240088.0,153.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,2126903.0,4.0,0.0,40901.0,314421.0,25737.0,0.0,0.0,5165.0,20573.0,0.0
40,240088.0,183.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,2126903.0,4.0,0.0,20573.0,314421.0,13596.0,0.0,0.0,5165.0,13274.0,0.0
41,240088.0,214.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,2126903.0,4.0,0.0,13274.0,314421.0,42557.0,0.0,0.0,0.0,41637.0,0.0
42,240088.0,244.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,2126903.0,4.0,0.0,41637.0,314421.0,24588.0,0.0,0.0,0.0,20884.0,0.0
32,292345.0,258.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,1.0,41637.0,314421.0,24588.0,0.0,0.0,0.0,20884.0,0.0
33,294181.0,260.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,2.0,41637.0,314421.0,24588.0,0.0,0.0,0.0,20884.0,0.0
34,294760.0,263.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,3.0,41637.0,314421.0,24588.0,0.0,0.0,0.0,20884.0,0.0
43,294760.0,275.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,3.0,21101.0,314421.0,34087.0,0.0,0.0,0.0,34087.0,0.0
44,294760.0,306.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,3.0,34087.0,314421.0,18843.0,0.0,0.0,0.0,11253.0,0.0
45,294760.0,334.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,3.0,11253.0,314421.0,60077.0,0.0,0.0,0.0,60077.0,0.0
46,294760.0,365.0,002f13f534d0bd9fcc1848db3ff5c7b1179d117f8de805...,3.0,15.0,980597.0,4.0,3.0,60077.0,314421.0,28591.0,0.0,0.0,0.0,26600.0,0.0
53,294760.0,0.0,0031e83ddef78e57d17ac5dce088627b7745be8ff6cffc...,3.0,15.0,980597.0,4.0,3.0,93404.0,202831.0,204717.0,0.0,0.0,0.0,112827.0,0.0
54,294760.0,30.0,0031e83ddef78e57d17ac5dce088627b7745be8ff6cffc...,3.0,15.0,980597.0,4.0,3.0,117642.0,202831.0,203215.0,0.0,0.0,0.0,106671.0,0.0
55,294760.0,61.0,0031e83ddef78e57d17ac5dce088627b7745be8ff6cffc...,3.0,15.0,980597.0,4.0,3.0,24775.0,202831.0,198378.0,0.0,0.0,1077.0,13492.0,0.0

# 3. Merge cdtx

In [28]:
df_cdtx[['country', 'cur_type']].value_counts()

country  cur_type
130      47          758908
134      46           72612
61       47           31410
134      30           25675
135      46           13601
                      ...
19       24               1
94       37               1
         1                1
92       46               1
23       9                1
Length: 397, dtype: int64

# Merge with answer

In [ ]:
data = data.merge(df_answer, how= 'left', on = 'alert_key')